
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<table class="table-bordered">
    <tr>
        <th>ID</th>
        <th>YETENEK</th>
        <th>DEĞER</th>
    </tr>
    <tr>
        <td>1</td>
        <td>C# Yazılım Dili</td>
        <td>75</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Javascript</td>
        <td>50</td>
    </tr>

</table>
